@page  "{id:int?}"
@model Movie.Pages.movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movieee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movieee.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movieee.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movieee.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movieee.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movieee.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movieee.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movieee.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movieee.Price)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movieee.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movieee.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
